@plugin '@tailwindcss/typography';
@plugin '@iconify/tailwind4';

@import 'tailwindcss';
@import '@catppuccin/tailwindcss/mocha.css';

@font-face {
  font-family: 'fredoka';
  src: url('../lib/assets/fonts/fredoka/static/Fredoka-Regular.ttf') format('truetype');
}
@theme {
  --color-*: initial;
  /* tailwind colors */
  --color-base-900: oklch(21% 0.006 285.885);
  --color-base-800: oklch(27.4% 0.006 286.033);
  --color-base-700: oklch(37% 0.013 285.805);
  /* catppuccin colors */
  --color-primary: #b4befe;
  --color-content: #d6dbfe;
  --color-success: #a6e3a1;
  --color-error: #f38ba8;

  --font-theme: 'fredoka', 'ui-sans-serif', 'sans-serif', 'system-ui';

  /* 0.75rem for rounded-xl */
  --radius-layout: 0.5rem;
  /* 0.375rem for rounded-md */
  --radius-box: 0.375rem;
}
@layer base {
  :root {
    @apply bg-base-900 font-theme text-base text-content selection:bg-primary/50 selection:text-content;
  }

  input {
    @apply outline-0 focus:outline-0;
  }

  button {
    @apply outline-0 focus:outline-0;
  }
}
